
#htp {
    padding: 10%;
}

#htp > button {
    background-color: black;
    color: antiquewhite;
    padding: 2%;
}

#htp > p {
    border-style: solid;
    border-width: 1%;
    padding: 5%;
}

.pHide {
    visibility: hidden;
}

.pShow {
    visibility: visible;
}